<div class="container">
  <!--     SIDE AREA -->
  <div class="sideArea">
    <div class="avatar">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCNOdyoIXDDBztO_GC8MFLmG_p6lZ2lTDh1ZnxSDawl1TZY_Zw" alt="">
      <div class="avatarName">Welcome,
        <br>{{currentUser}}</div>
    </div>
    <ul class="sideMenu">
      <li>
        <a href="/listing">
          <span class="fa fa-table"></span>PRODUCT</a>
      </li>
      <li>
        <a (click) = "wishlistPage()">
            <i class="fas fa-clipboard-list fa-lg"></i> YOUR WISHLIST</a>
      </li>
      <li>
        <a (click) = "addListingPage()">
            <i class="fas fa-book fa-lg"></i> SELL YOUR BOOK</a>
      </li>
      <li>
        <a (click)="displayMessage()">
            <i class="fas fa-comment fa-lg"></i> MESSAGES</a>
      </li>
      <li>
        <a (click)="logout()">
            <i class="fas fa-sign-out-alt fa-lg"></i> LOG OUT</a>
      </li>
    </ul>
  </div>
  <!--     SIDE AREA -->
  <div class="mainArea">
    <!-- BEGIN NAV -->
    <nav class="navTop row">
      <div class="menuIcon fl">
        <i class="fas fa-bars"></i>
      </div>
      <div class="account fr">
        <div class="name has-submenu">{{currentUser}}
          <span class="fa fa-angle-down"></span>
        </div>
      </div>
    </nav>
    <!-- END NAV -->
 <router-outlet></router-outlet>
  </div>
</div>