<section class="home">
    <div class="center-block">
      <p>Welcome To Book Bazaar!</p>
      <h1>It’s nice to Meet you</h1>
      <a class="button" (click)="signin()">Sign In to Continue</a>
    </div>
  </section>
  
  <section class="services">
    <div class="center-block">
      <div class="title">
        <h2>What We Provide</h2>
        <p>An online platform to buy and sell old books</p>
      </div>
      <div class="services-item">
        <div class="icon-wrap">
          <img class="services-item-icon" src="https://i.lensdump.com/i/8TSY2z.png" alt="service icon">
        </div>
        <h3>Sell Your Books</h3>
        <p>We provide an onlien platform to sell your old or new books</p>
      </div>
      <div class="services-item">
        <div class="icon-wrap">
          <img class="services-item-icon" src="https://i.lensdump.com/i/8TSLY5.png" alt="service icon">
        </div>
        <h3>Buy Books</h3>
        <p>We provide an onlien platform to buy old, new a large variety of books</p>
      </div>
      <div class="services-item">
        <div class="icon-wrap">
          <img class="services-item-icon" src="https://i.lensdump.com/i/8TSvBC.png" alt="service icon">
        </div>
        <h3>Web Security</h3>
        <p>Proin iaculis purus consequat sem cure 
digni ssim. Donec porttitora entum suscipit 
aenean rhoncus posuere odio in tincidunt.</p>
      </div>
    </div>
  </section>
  
 
  
    
  <section class="team">
    <div class="center-block">
      <div class="title">
        <h2>Developed By</h2>
      </div>
      <div class="team-item">
        <img src="../../assets/ankit.jpg">
        <p>Ankit Bhardwaj</p>
        <span>Full Stack Developer</span>
        <div class="socmedia-wrap">
          <a class="twitter twitter-still" href="#"></a>
          <a class="facebook facebook-still" href="#"></a>
          <a class="google google-still" href="#"></a>
        </div>
      </div>
      <!-- <div class="team-item">
        <img src="https://i.lensdump.com/i/8TSzp9.jpg" alt="team member">
        <p>Uku Mason</p>
        <span>Graphic Designer</span>
        <div class="socmedia-wrap">
          <a class="facebook facebook-still" href="#"></a>
          <a class="pinterest pinterest-still" href="#"></a>
        </div>
      </div> -->
      <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
    </div>
  </section>
  
  <section class="logos">
    <div class="center-block">
      <div class="logos-links">
        <a><img src="https://i.lensdump.com/i/8TSK2Z.png" alt="partner logo"></a>
        <a><img src="https://i.lensdump.com/i/8TSfpF.png" alt="partner logo"></a>
        <a><img src="https://i.lensdump.com/i/8TSFF3.png" alt="partner logo"></a>
        <a><img src="https://i.lensdump.com/i/8TSpCP.png" alt="partner logo"></a>
      </div>
    </div>
  </section>
  
  <section class="contacts">
    <div class="center-block">
      <div class="title">
        <h2>contact us</h2>
        <p>You Can contact us through email or through any social platform.</p>
      </div>
    </div>
  </section>
  
  <footer>
    <div class="center-block">
      <p>© Copyright 2018 </p>
      <div class="socmedia-wrap">
        <a class="twitter twitter-footer" href="https://twitter.com/AnkitBh39021891"></a>
        <a class="facebook facebook-footer" href="https://www.facebook.com/ankit.bhardwaj.50702"></a>
        <a class="google google-footer"></a>
      </div>
    </div> 
  </footer>