<h1 style="margin-left: 40%;color: cadetblue;padding-top: 3%;padding-bottom: 0px;">Provide The Details</h1>
<div class="col-md-8 col-md-offset-2" style="height: 800px;">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="Bookname">Book Name</label>
          <input
                  type="text"
                  class="form-control"
                  formControlName="bookname" required>
      </div>
      <div class="form-group">
          <label for="Authorname">Author Name</label>
          <input
                  type="text"
                  class="form-control"
                  formControlName="authorname" required>
      </div>
      <div class="form-group">
        <label for="Price">Price</label>
        <input
                type="number"
                class="form-control"
                formControlName="price" required>
     </div>
     <div class="form-group">
        <label for="Condition">Condition</label>
        <select id="power"  formControlName="condition" required>
            <option class="form-control" *ngFor="let pow of condition" [value]="pow" >{{pow}}</option>
        </select>
     </div>
     <div>
            <label for="image">Image</label>
            <input
                    type="file"
                    (change)="onFileSelected($event)" #image required>
        </div>
      <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!myForm.valid || image.value==''">Submit</button>
  </form>
</div>





