<!-- CONTAINER  -->
<div class="mainContent" style="box-sizing: none;">
  <!-- LIST FORM -->
  <div class="row filterGroup">
    <form  class="formSearch fl">
      <input type="text" class="inputSearch" placeholder="Search" #query>
      <button type="submit" class="btnSearch" (click)="search(query.value)">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <div class="areaFilter fr row">
      <div class="boxSelect fr">
        <ul class="optionSelect">
          <li sortIndex="0">
            <a (click)="sortbyprice()">Price</a>
          </li>
          <li sortIndex="1">
            <a (click)="sortByCondition()">Condition</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="boxFilter">
        <div class="btnFilter" style="font-size: 30px;">Filter</div>
  <!--             GROUP -->
  <hr>
        <div class="row">
            <p><b>By Condition</b></p><br>
            <select name="Condition" #condition>
                <option value="New">New</option>
                <option value="Almost new">Almost new</option>
                <option value="Slight damge">Slight damage</option>
                <option value="Worn">Worn</option>
            </select> 
            <button (click)="filterByCondition(condition.value)">Filter</button><br><br>
            <p class="titleInput"><b>By Price</b></p> 
            <hr>
            <div class="areaValue" style="margin: 0px;">
                <p>From</p>
                <input type="text" class="rangeValue" #from>
                <p>To</p>
                <input type="text" class="rangeValue" #to><br>
            </div>
            <button (click)="filterByPrice(from.value,to.value)">Filter</button>
            <hr>
            <div class="btnFilter" style="font-size: 30px;">Sort</div>
            <hr>
            <button (click)="sortbyprice()">By Price</button><br><br>
            <button (click)="sortByCondition()">By Condition</button>
        </div>
  </div>            

  <!-- CATE LIST    -->
  <form action="" method="GET" name="listForm" class="form scrollX">
    <div class="formHeader row">
      <h2 class="text-1 fl">Product List</h2>
    </div>
  </form>

  <!-- listing card -->
  <div class="row list" style="background-color: #eaebee;width: 85%;">
    <div class="box-wrapper column" *ngFor="let listing of listings" style="margin-top: 5%;">
      <img src="{{listing.image}}" alt="rhcp" height="200px" width="100%" />
      <div class="box-content">
        <a class="buy" href="javascript:void(0)">
          <span>
            <i class="fa fa-cart-plus" (click)="addToWishlist(listing)"></i>
          </span>
        </a>
        <div class="title">{{listing.bookname}}</div>
        <div class="desc"><b><span>By : </span></b>{{listing.authorname}}</div>
        <span class="price">{{listing.price}}Rs</span>
        <div class="footer">
          <ul>
            <button id="view_book" (click)="bookdetail(listing.id)"><i class="fas fa-eye"></i>View Book</button>
          </ul>
        </div>
      </div>
      <div class="success"></div>
    </div>

  </div>

</div>
