<!-- CONTAINER  -->
<div class="mainContent">
  <!-- LIST FORM -->
  <div class="row filterGroup">
    <form  class="formSearch fl">
      <input type="text" class="inputSearch" placeholder="Search">
      <button type="submit" class="btnSearch">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <div class="areaFilter fr row">
      <div class="boxSelect fr">
        <div class="titleSelect">Sort by</div>
        <ul class="optionSelect">
          <li sortIndex="0">
            <a (click)="sortbyprice()">Price</a>
          </li>
          <li sortIndex="1">
            <a href="">Condition</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- CATE LIST    -->
  <form action="" method="GET" name="listForm" class="form scrollX">
    <div class="formHeader row">
      <h2 class="text-1 fl">Product List</h2>
    </div>
  </form>


  <!-- listing card -->
  <div class="row" style="background-color: #eaebee">
    <div class="box-wrapper column" *ngFor="let listing of listings" style="margin-top: 5%;">
      <img src="http://localhost:3000/{{listing.image}}" alt="rhcp" height="200px" width="100%" />
      <div class="box-content">
        <a class="buy" href="javascript:void(0)">
          <span>
            <i class="fa fa-cart-plus"></i>
          </span>
        </a>
        <div class="title">{{listing.bookname}}</div>
        <div class="desc"><b><span>Author Name : </span></b>{{listing.authorname}}</div>
        <span class="price">{{listing.price}}$</span>
        <div class="footer">
          <ul>
            <button id="view_book"><i class="fas fa-eye"></i>View Book</button>
          </ul>
        </div>
      </div>
      <div class="success"></div>
    </div>

  </div>

</div>