<main class="container">

  <div class="wrapper">

    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img data-image="lightblue" src="" alt="">
      <img data-image="darkblue" src="" alt="">
      <img data-image="green" class="active" src="{{listing.image}}" alt="" height="100%">
      <img data-image="yellow" src="" alt="">
      <img data-image="purpple" src="" alt="">
    </div>


    <!-- Right Column -->
    <div class="right-column">
      <!-- Product Ratings and Price -->
      <div class="ratprice">
        <div id="rateYo"></div>
        <div class="product-price">
         {{listing.price}} Rs
        </div>
      </div>
      <!-- Product Description -->
      <div class="product-description">
        <h1>{{listing.bookname}}</h1><br>
      </div>

      <!-- Product Configuration -->
      <div class="product-configuration">

        <!-- Product Color -->
        <div class="product-color">
            <span>By</span> <h3 style="color: black">{{listing.authorname}}</h3>
        </div>

        <!-- Size Configuration -->
        <div class="size-config">
            <span>Seller</span> <h3 style="color: black">{{listing.sellerName}}</h3>
            <span>Condition</span> <h3 style="color: black">{{listing.condition}}</h3>
        </div>  
      </div>

      
      <!-- Product Pricing -->
      <div class="buttons">
        <button (click)="addToWishlist()">Add to Wishlist &nbsp; <i class="far fa-hand-point-right fa-2x"></i></button>
      </div>
    </div>
  </div>
</main>


<div class="compose">
  <a style="color: black">
    <i class="fas fa-envelope fa-3x" style="color: black"></i>
    <br>Contact Seller</a>
</div>
<div id="modal">
  <div class="modal_content">
    <form  [formGroup]="myForm" (ngSubmit)="onSubmit(message.value)">
      <textarea placeholder="Type your message here..."  #message  required  formControlName="message" style="color: black;"></textarea>
      <input class="btn" type="submit" value="Send Message" [disabled]="!myForm.valid || message.value==' '"/>
    </form>
  </div>
</div>