html, body {
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  .container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 15px;
    display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 80%;
    /* background: #294954;
  background: -moz-linear-gradient(45deg, #294954 0%, #4e5a44 100%);
  background: -webkit-linear-gradient(45deg, #294954 0%, #4e5a44 100%);
  background: -o-linear-gradient(45deg, #294954 0%, #4e5a44 100%);
  background: -ms-linear-gradient(45deg, #294954 0%, #4e5a44 100%);
  background: linear-gradient(45deg, #294954 0%, #4e5a44 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#294954', endColorstr='#4e5a44', GradientType=1 );
  
  }
  
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  /* Columns */
  .left-column {
    width: 35%;
    height: 405px;
    position: relative;
    background: #058cb1;
    background: -o-linear-gradient(bottom left, #058cb1 0%, #9ad06e 100%);
    background: linear-gradient(to top right, #058cb1 0%, #9ad06e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#058cb1', endColorstr='#9ad06e', GradientType=1 );
    box-shadow: 18px 18px 47px 16px rgba(0,0,0,0.5);
  }
  
  .right-column {
    width: 35%;
    height: 410px;
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
    box-shadow: 18px 18px 47px 16px rgba(0,0,0,0.5);
  }
  
  /* Left Column */
  .left-column img {
    width: 120%;
  }
  
  .left-column a {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all 0.3s ease;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    z-index: 999999999;
  }
  
  .left-column a i{
    line-height: 40px;
    color: #74bb8f;
  }
   
  .left-column img.active {
    opacity: 1;
  }
  
  /* Product Description */
  
  .product-description span {
    color: #000;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 700;
    font-size: 30px;
    color: #000;
    letter-spacing: 1px;
    margin: 0;
  }
  
  /* Product Color */
  .product-color {
    margin-bottom: 30px;
  }
   
  .color-choose div {
    display: inline-block;
  }
   
  .color-choose input[type="radio"] {
    display: none;
  }
   
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
   
  .color-choose input[type="radio"] + label span {
    border: 2px solid #FFFFFF;
    
  }
   
  .color-choose input[type="radio"]#lightblue + label span {
    background-color: #60d1f1;
  }
  .color-choose input[type="radio"]#darkblue + label span {
    background-color: #0497ca;
  }
  .color-choose input[type="radio"]#green + label span {
    background-color: #89d99a;
  }
  .color-choose input[type="radio"]#yellow + label span {
    background-color: #f6d03f;
  }
  .color-choose input[type="radio"]#purpple + label span {
    background-color: #6e72d5;
  }
   
  .color-choose input[type="radio"]#lightblue:checked + label span {
    box-shadow:  0 0 0 1px #60d1f1;
  }
  .color-choose input[type="radio"]#darkblue:checked + label span{
    box-shadow:  0 0 0 1px #0497ca;
  }
  .color-choose input[type="radio"]#green:checked + label span {
    box-shadow:  0 0 0 1px #89d99a;
  }
  .color-choose input[type="radio"]#yellow:checked + label span {
    box-shadow:  0 0 0 1px #f6d03f;
  }
  .color-choose input[type="radio"]#purpple:checked + label span {
    box-shadow:  0 0 0 1px #6e72d5;
  }
  
  /* Product Price */
  .product-price {
    width: 50%;
    font-size: 42px;
    font-weight: 100;
    color: #43474D;
    text-align: right;
  }
  .ratprice{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
   #rateYo{
    width: 50% !important;
    margin-top: 20px;
   }
    .size{
      display: flex;
    }
    
    .buttons{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background: #00a1d5;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    box-shadow: -1px 8px 20px -6px rgba(0,161,213,1); 
  }  

  .buttons a{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #00a1d5;
  }
  .button{
    font-size: 15px;
    padding: 5px;
    border: 1px solid #86939E;
    cursor: pointer;
    color: #86939E;
  } 
  .inc{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
  }
  .dec{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
  }
  #size-wrapper{
    width: 45px;
    border: 1px solid #86939E;
  }
  #size{
    width: 100%;
    font-size: 15px;
    font-weight: 900;
    line-height: 35px;
    text-align: center;
    border: none;
  }
  .product-color,
  .size-config{
    text-transform: uppercase;
    color: #86939E;
  }
  
  @media screen and (max-width: 415px)  {
    .container{
      width: 100%;
      padding: 0;
    }
    .wrapper{
    flex-direction: column;
    
  }
  .left-column,
  .right-column {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: none;
  }
  .left-column {
    height: 300px;
    overflow: hidden;
  }
  .left-column img{
    left: 20px;
    width: 100%;
  }
  }









  body {
    font-family: "Noto Sans", sans-serif;
    text-rendering: optimizeLegibility;
    color: #1F1F21;
    background: linear-gradient(90deg, #2B2B2B, #4A4A4A);
    background-size: cover;
    background-repeat: repeat-y;
    overflow: hidden;
  }
  
  .compose {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    height: 120px;
    text-align: center;
  }
  .compose a {
    font-size: 18px;
    line-height: 18px;
    color: #F7F7F7;
    margin: 24px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    transform: translateZ(0);
  }
  .compose a:hover {
    opacity: 1;
  }
  .compose a i.material-icons {
    font-size: 40px;
  }
  
  #modal {
    box-sizing: border-box;
    background: #F7F7F7;
    color: #1F1F21;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    transition: top 0.4s ease-in-out;
    transform: translateZ(0);
    overflow: hidden;
    min-width: 320px;
    padding: 60px 20px 0 20px;
    top: 100%;
    bottom: 0;
    left: 10px;
    right: 10px;
  }
  #modal.open {
    top: 120px;
  }
  #modal .modal_content {
    overflow-y: auto;
    height: 100%;
  }
  #modal i.closer {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #modal input, #modal textarea {
    border-radius: 2px;
    box-sizing: border-box;
    color: #8E8E93;
    background: #F7F7F7;
    width: 100%;
    padding: 20px;
    margin: 0 auto 20px auto;
    outline: none;
    border: 1px solid #C7C7CC;
  }
  #modal input.half {
    width: 50%;
    float: left;
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  #modal input.half:nth-child(2) {
    border-top-right-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
  }
  #modal input.btn {
    color: #F7F7F7;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    background: #4CD964;
    border: 1px solid #4CD964;
  }
  #modal .clear {
    clear: both;
  }
  #modal textarea {
    min-height: 150px;
  }

  #modal input[type="submit"]:disabled {
    background: #dddddd;
}
  