<div class="main">
  <div class="container">
    <div class="signup">
      <div class="form">
        <h1>Sign up</h1>
        <p>Create your account to get free gift cards!
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <label>
              <input type="text" placeholder="Enter Your Name" class="name" formControlName="name" />
            </label>
            <label>
              <input type="email" placeholder="Enter Your Email" class="email" formControlName="email" />
            </label>
            <label>
              <input type="password" placeholder="Enter Your Password" class="password" formControlName="password" />
            </label>
            <label>
              <input type="text" placeholder="Enter Your college" class="college" formControlName="college" />
            </label>
            <label>
              <input type="text" placeholder="Enter Your Address" class="address" formControlName="address" />
            </label>
            <label>
              <input type="text" placeholder="Enter Your Phone Number" class="phonenumber" formControlName="phoneNumber" />
            </label>
            <label>
              <input type="submit" value="Create Account" [disabled]="!myForm.valid" />
            </label>
          </form>
      </div>
      <div class="features">
        <h3>Features</h3>
        <ul>
          <li>100% Free Signup </li>
          <li>Buy Books At cheaper price</li>
          <li>Sell Your Old Books</li>
          <li>Contact with the seller</li>
        </ul>
      </div>

      <div class="plan">
        <img src="https://res.cloudinary.com/fazurrehman/image/upload/v1484818922/dailyui/send-msg.png" alt="hi your welcome to sign up! get free gift cards here!"
        />
      </div>
    </div>
  </div>
</div>