<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Book Bazaar"</title>
  </head>
  <body>
    <header>
      <div class="center-block">
        <a class="logo" href="#">BOOK BAZAR</a>
        <nav>
          <ul class="main-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a href="#">About US</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <section class="home">
      <div class="center-block">
        <p>Welcome To Book Bazaar!</p>
        <h1>It’s nice to Meet you</h1>
        <a class="button" href="#">tell me more</a>
      </div>
    </section>
    
    <section class="services">
      <div class="center-block">
        <div class="title">
          <h2>What We Provide</h2>
          <p>An online platform to buy and sell old books</p>
        </div>
        <div class="services-item">
          <div class="icon-wrap">
            <img class="services-item-icon" src="https://i.lensdump.com/i/8TSY2z.png" alt="service icon">
          </div>
          <h3>Sell Your Books</h3>
          <p>Proin iaculis purus consequat sem cure 
digni ssim. Donec porttitora entum suscipit 
aenean rhoncus posuere odio in tincidunt.</p>
        </div>
        <div class="services-item">
          <div class="icon-wrap">
            <img class="services-item-icon" src="https://i.lensdump.com/i/8TSLY5.png" alt="service icon">
          </div>
          <h3>Responsive Web</h3>
          <p>Proin iaculis purus consequat sem cure 
digni ssim. Donec porttitora entum suscipit 
aenean rhoncus posuere odio in tincidunt.</p>
        </div>
        <div class="services-item">
          <div class="icon-wrap">
            <img class="services-item-icon" src="https://i.lensdump.com/i/8TSvBC.png" alt="service icon">
          </div>
          <h3>Web Security</h3>
          <p>Proin iaculis purus consequat sem cure 
digni ssim. Donec porttitora entum suscipit 
aenean rhoncus posuere odio in tincidunt.</p>
        </div>
      </div>
    </section>
    
    <!-- <section class="portfolio">
      <div class="center-block">
        <div class="title">
          <h2>our portfolio</h2>
          <p>Proin iaculis purus consequat sem cure.</p>
        </div>
        <div class="portfolio-item">
          <img src="https://i.lensdump.com/i/8TSPRr.jpg" alt="portfolio item">
          <h3>Ebony & Ivory</h3>
          <p>Branding</p>
        </div>
        <div class="portfolio-item">
          <img src="https://i.lensdump.com/i/8TS7Sm.jpg" alt="portfolio item">
          <h3>Smart Stationary</h3>
          <p>Print Design</p>
        </div>
        <div class="portfolio-item">
          <img src="https://i.lensdump.com/i/8TSOxi.jpg" alt="portfolio item">
          <h3>Clever Poster</h3>
          <p>Print Design</p>
        </div>
        <div class="portfolio-item">
          <img src="https://i.lensdump.com/i/8TSl1o.jpg" alt="portfolio item">
          <h3>Vinyl Record</h3>
          <p>Product Mock-Up</p>
        </div>
        <div class="portfolio-item">
          <img src="https://i.lensdump.com/i/8TSDx7.jpg" alt="portfolio item">
          <h3>Treehouse Template</h3>
          <p>Web Design</p>
        </div>
        <div class="portfolio-item">
          <img src="https://i.lensdump.com/i/8TSuSb.jpg" alt="portfolio item">
          <h3>Burned Logo</h3>
          <p>Branding</p>
        </div>
      </div> -->
    <!-- </section> -->
    
    <section class="about">
      <div class="center-block">
        <div class="title">
          <h2>about us</h2>
          <p>Proin iaculis purus consequat sem cure.</p>
        </div>
        <ul>
          <li class="about-item">
            <div class="about-item-text">
              <h3>july 2010</h3>
              <h4>Our Humble Beginnings</h4>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
            </div>
            <div class="about-item-img-first image">
            </div>
          </li>
          <li class="about-item">
            <div class="about-item-img-second image">
            </div>
            <div class="about-item-text">
              <h3>january 2011</h3>
              <h4>Facing Startup Battles</h4>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
            </div>
          </li>
          <li class="about-item">
            <div class="about-item-text">
              <h3>december 2012</h3>
              <h4>Enter The Dark Days</h4>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
            </div>
            <div class="about-item-img-third image">
            </div>
          </li>
          <li class="about-item">
            <div class="about-item-img-fourth image">
            </div>
            <div class="about-item-text">
              <h3>february 2014</h3>
              <h4>Our Triumph</h4>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
            </div>
          </li>
          <li class="about-item">
            <h3>our story continues ...</h3>
          </li>
        </ul>
      </div>
    </section>
    
    <section class="team">
      <div class="center-block">
        <div class="title">
          <h2>Face Behind</h2>
          <p>Proin iaculis purus consequat sem cure.</p>
        </div>
        <!-- <div class="team-item">
          <img src="https://i.lensdump.com/i/8TSzp9.jpg" alt="team member">
          <p>Kimbery Thompson</p>
          <span>Marketer</span>
          <div class="socmedia-wrap">
            <a class="twitter twitter-still" href="#"></a>
            <a class="facebook facebook-still" href="#"></a>
            <a class="pinterest pinterest-still" href="#"></a>
          </div>
        </div> -->
        <div class="team-item">
          <img src="../../assets/ankit.jpg">
          <p>Ankit Bhardwaj</p>
          <span>Coder</span>
          <div class="socmedia-wrap">
            <a class="twitter twitter-still" href="#"></a>
            <a class="facebook facebook-still" href="#"></a>
            <a class="google google-still" href="#"></a>
          </div>
        </div>
        <!-- <div class="team-item">
          <img src="https://i.lensdump.com/i/8TSzp9.jpg" alt="team member">
          <p>Uku Mason</p>
          <span>Graphic Designer</span>
          <div class="socmedia-wrap">
            <a class="facebook facebook-still" href="#"></a>
            <a class="pinterest pinterest-still" href="#"></a>
          </div>
        </div> -->
        <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
      </div>
    </section>
    
    <section class="logos">
      <div class="center-block">
        <div class="logos-links">
          <a href="#"><img src="https://i.lensdump.com/i/8TSK2Z.png" alt="partner logo"></a>
          <a href="#"><img src="https://i.lensdump.com/i/8TSfpF.png" alt="partner logo"></a>
          <a href="#"><img src="https://i.lensdump.com/i/8TSFF3.png" alt="partner logo"></a>
          <a href="#"><img src="https://i.lensdump.com/i/8TSpCP.png" alt="partner logo"></a>
        </div>
      </div>
    </section>
    
    <section class="contacts">
      <div class="center-block">
        <div class="title">
          <h2>contact us</h2>
          <p>Proin iaculis purus consequat sem cure.</p>
        </div>
      </div>
    </section>
    
    <footer>
      <div class="center-block">
        <p>© Copyright 2014 <a href="FreebiesXpress.com">FreebiesXpress.com</a></p>
        <div class="socmedia-wrap">
          <a class="twitter twitter-footer" href="#"></a>
          <a class="facebook facebook-footer" href="#"></a>
          <a class="pinterest pinterest-footer" href="#"></a>
          <a class="google google-footer" href="#"></a>
        </div>
      </div> 
    </footer>
  </body>
</html>