<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Book Bazaar"</title>
  </head>
  <body>
    <header>
      <div class="center-block">
        <a class="logo" href="#">BOOK BAZAR</a>
        <nav>
          <ul class="main-nav">
            <li><a (click)="home()">Home</a></li>
            <li><a (click)="signup()">Sign Up</a></li>
            <li><a (click)="signin()">Sign In</a></li>
            <li><a href="#">About US</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <router-outlet></router-outlet>
   </body>
</html>